<div class="alert-fixed-cont">
    <div class="alert alert-danger alert-fixed col-md-9" id="errorMessageElement" style="display: none;">
        <label for="" class="error" id="error_msg" style="display: inline-block;"></label>
    </div>
</div>