<div class="alert-fixed-cont">
    <div class="alert alert-success alert-fixed col-md-9" id="successMessageElement" style="display: none;">
        <label for="data[Survey][type]" class="success" id="success_msg" style="display: inline-block;"></label>
    </div>
</div>