.input input[type=text],  .input select{
    display: block;
    width: auto;
    
    float: left;
    background-color: #fff;
    background-image: none;
    border: 2px solid #bdc3c7;
    color: #34495e;
    font-family: Lato,Helvetica,Arial,sans-serif;
    font-size: 15px;
    line-height: 1.467;
    padding: 8px 12px;
    height: 42px;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border .25s linear,color .25s linear,background-color .25s linear;
    transition: border .25s linear,color .25s linear,background-color .25s linear;
}
.survey-options select{
    float: none;
}
.input.radio input[type="checkbox"]{

}
fieldset{
    font-size: 14px;
}
fieldset input[type="checkbox"], fieldset input[type="radio"]{margin: -1px 10px 0 30px; vertical-align: middle; }
fieldset input:nth-child(3){margin-left: 0;}
legend, .survey-group label, .survey-title{
    font-size: 18px;
    
    line-height: 1.1em;
    padding-top: 5px;
    margin: 0 0 10px 0;
}
.input{*zoom:1;}
.input:before, .input:after{
    display: table;
    line-height: 0;
    content: ''
}
.input:after{
    clear: both;
}
.input.radio{
    min-height:1px;
    padding-top: 0;
    line-height: 1em;
    height: auto;
    margin: 10px 0;
}
.radio label,.checkbox label{
    line-height: 20px;
}
.input.text label{width:30%; padding-right: 10px; float: left; font-weight: 700; text-align: right;}