@import url('cake.css');

body, .form-control, .navbar-new, .twitter-typeahead .tt-query, .twitter-typeahead .tt-hint, .video-js .vjs-text-track-display, .vjs-time-controls, .tagsinput input {
    font-weight:400;
    font-family:Roboto, Arial, Helvetica, sans-serif;
}
.sidebar{
    padding-right:20px;
}
.palette-market-blue {
    background-color: #0082c4;
    color: #FFF;
}
.palette-market-green {
    background-color: #B1C800;
    color: #FFF;
}
.palette-market-orange {
    background-color: #E67E22;
    color: #FFF;
}
.btn.palette-market-green:hover {
    background-color: #C1D52F;
    color: #FFF;
}
.btn.palette-market-orange:hover {
    background-color: #F39C12;
    color: #FFF;
}
.btn-plain{
    background-color: #FFF;
}
.btn-plain:hover{
    color: #00689d;
    background-color: rgba(255,255,255,0.8);
}
.btn-h-spacer{
    margin-left:10px;
    margin-right:10px;
}
strong, b, h1, h2, h3, h4, h5, h6 {
    font-weight:700;
    font-family:Roboto, Arial, Helvetica, sans-serif;
}
.serif {
    font-weight:400;
    font-family:Roboto Slab, Arial, Helvetica, sans-serif;
}
.title-1{font-size: 32px;}
.title-2{font-size: 27px;}
.title-3{font-size: 24px;}
.title-4{font-size: 21px; }
.title-5{font-size: 18px;}
.title-6{font-size: 15px;}

.smaller{
    font-size: 73%;
    line-height: 1.4em;
}
.smaller p {
    font-size: 100%;
    line-height: 1.4em;
}
.navbar-collapse {
    padding-left:0;
    padding-right:0;
}
.navbar-container .navbar {
    margin-bottom:0;
}
.nav-tabs-right li {
    float:right;
}
.title-content {
    margin:0px 0 30px;
    padding:50px 0;
}
h6 .glyphicon{
    top:4px;
}
.text-bold {
    font-weight:700;
}
.text-normal {
    font-weight:400;
}
.text-light {
    font-weight:300;
}
.well.login-form:before {
    border:none;
}
.text-grey {
    color:#ccc;
}
.password-link {
    padding:32px 0 0;
    display:inline-block;
}
.navbar-inverse .navbar-btn {
    background-color:transparent;
}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
    color:#339bd0;
}
.well {
    border-radius:0;
    box-shadow:none;
    position: relative;
}
.well-plain {
    background-color: #FFF;
}
.icon-top-right{
    position: absolute;
    right:10px;
    top:10px;
    z-index:99;
}
.icon-top-right a{
    padding:0 3px;
}
.well-borderless {
    border:none;
}
.well .form-control {

}
.well-md{
    padding:30px;
}
.well .form-control:focus {
    border-color: #B1C800;
}
.q-slot{
    padding-left: 30px;
    position: relative;
}
.q-label{
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    color: #7f8c8d;
    left: 0;
    top: 5px;
}
.navbar-toggle {
    margin: 0 0 0 0px;
}
.content {
    padding-top:30px;
    padding-bottom:30px;
}
.font-13, .font-13 p {
    font-size:13px;
    line-height:20px;
}
.font-15, .font-15 p {
    font-size:15px;
    line-height:22px;
}
.header-main {
    margin-bottom: 30px;
}
.table-border-top {
    border-top:1px solid #ddd;
}
.table-border-bottom {
    border-bottom:1px solid #ddd;
}

.accord{}
.accord-body,.check-dependent{display:none;}
.cb-child{overflow: visible !important;}

.table-v tbody tr td{
    vertical-align:middle;
}
.v-space-no{
    margin-bottom: 0px;
}
.v-space-xs{
    margin-bottom: 5px;
}
.v-space-sm{
    margin-bottom: 10px;
}
.v-space-md{
    margin-bottom: 15px;
}
.v-space-lg{
    margin-bottom: 20px;
}
.v-space-hg{
    margin-bottom: 30px;
}
.dropdown-menu{
    width: 100%;
    left: auto;
    right: -15px;
}

.nav-vert{
    /*border: 1px solid #e5e5e5;*/
    /*margin-bottom: 2em;*/
}
.nav-vert li{
    display: block;
    /*border-bottom: 1px solid #e5e5e5;*/
}
.nav-vert li a{
    padding: 5px 10px;
    display: block;
}
.nav-vert ul{
    padding-left:5px;
    /*border-top:1px solid #DDD;*/
    background-color:#0082c4;
    padding: 1px 1px 1px 5px;
}
.nav-vert ul li:last-child{
    border-bottom:none;
}
.nav-vert ul li{
    background-color:#FFF;
    /*border-left:1px solid #DDD*/
}
.nav-vert ul li a{
    /*font-size:0.9em;*/
}
.nav-vert ul li a:hover{
    color: #FFF;
    background-color: #0082c4;
    border-color: #0082c4;
}
.nav-vert-legend{
    padding: 5px 5px 5px 13px;
    background-color: #2f4154;
    color: #FFF;
    margin-top: 10px;
}
.nav-vert .active{
    color: #FFF;
    background-color: #0082c4;
}
.nav-vert .active a{
    color: #FFF;
}
.nav-vert .nav-vert-child{
    border-left: 0px;
    border-right: 0px;
}

.panel-primary .panel-heading .glyphicon{
    color: #FFF;
    padding: 0 5px;
}
.panel-heading .btn-xs{
    margin: -2px 10px;
}

.fixed-bottom{
    position: fixed;
    bottom: 20px;

}
.fixed-top{
    position: fixed;
    top: 0px;
}
.sidebar-fix{
    width: 256px;
}
.tooltip{
    display: none;
    font-size: 70%;

}
select.form-control{
    -webkit-appearance: menulist;
}
select.form-control[multiple]{
    -webkit-appearance: none;
}

.form-horizontal .control-label{
    padding-top: 3px;
    font-weight: 700;
}

hr{
    clear: both;
}
.btn-format .btn{
    vertical-align: top;
    margin-right: 1px;
    float: left;
}
label {
    font-weight: 400;
    font-size: 15px;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    line-height: 1.2;
}
[data-visiblity="hide"]{
    display: none;;
}
.modal-body>*{
    margin-top:0;
}

.modal, .modal label{
    font-size: 12px;
}
.modal label{
    padding-top: 0.4em;
    padding-bottom: 0.0em;
}
.modal .form-group{
    margin-bottom: 10px;
}
.modal .form-control{
    border-width: 1px;
    padding: 3px;
    font-size:12px;
    border-radius:2px;

}
.modal .checkbox .icons,.modal  .radio .icons{
    font-size:16px;
}
.modal input.form-control,
.modal select.form-control
{
    height: 26px;
}
.modal hr{
    margin-bottom:15px;
}
.modal .title-6{
    margin-top:0;
}
.title-6+[data-control]{
    margin:-5px 0 5px;
}
.modal .checkbox, .modal .radio{
    margin-top:0px;
    margin-bottom:5px;
    padding-left: 22px;
}
.modal .checkbox label, .modal .radio label{
    padding-top:0;
}
.modal-footer-sm{
    padding:10px 15px;
}
.palette-market-blue .close{
    color:#FFF;
    text-shadow:0 1px #000;
    opacity:0.8;
}
.palette-market-blue .close:hover{
    opacity:1;
}
[data-colorpicker]{
    width:130px;
    margin:0;
    padding:0;
    border:0;
    display:inline-block;
}
[data-colorpicker] input{
    display:inline-block;
    width:80px;
    vertical-align:top;
}
[data-colorpicker] .color-thumb{
    border:2px solid #000;
    width:35px;
    height:35px;
    margin-left:5px;
    display:inline-block;
    vertical-align:top;
}
.form-inline{
    display:inline;
    width:auto;
}
.preview-container{
    margin:20px 0;
    background-color:#EEE;
    border:1px dotted #DDD;
    padding:0 20px 20px;
}

/*date picker*/
/*! jQuery UI - v1.10.4 - 2014-06-03
* http://jqueryui.com
* Includes: jquery.ui.core.css, jquery.ui.datepicker.css
* Copyright 2014 jQuery Foundation and other contributors; Licensed MIT */

/* Layout helpers
----------------------------------*/
.ui-helper-hidden {
    display: none;
}
.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.ui-helper-reset {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    line-height: 1.3;
    text-decoration: none;
    font-size: 100%;
    list-style: none;
}
.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
    content: "";
    display: table;
    border-collapse: collapse;
}
.ui-helper-clearfix:after {
    clear: both;
}
.ui-helper-clearfix {
    min-height: 0; /* support: IE7 */
}
.ui-helper-zfix {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0;
    filter:Alpha(Opacity=0);
}

.ui-front {
    z-index: 100;
}

/* Interaction Cues
----------------------------------*/
.ui-state-disabled {
    cursor: default !important;
}

/* Icons
----------------------------------*/

/* states and images */
.ui-icon {
    display: block;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
}

/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.ui-datepicker {
    width: 17em;
    padding: .2em .2em 0;
    display: none;
}
.ui-datepicker .ui-datepicker-header {
    position: relative;
    padding: .2em 0;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
    position: absolute;
    top: 2px;
    width: 1.8em;
    height: 1.8em;
}
.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
    top: 1px;
}
.ui-datepicker .ui-datepicker-prev {
    left: 2px;
}
.ui-datepicker .ui-datepicker-next {
    right: 2px;
}
.ui-datepicker .ui-datepicker-prev-hover {
    left: 1px;
}
.ui-datepicker .ui-datepicker-next-hover {
    right: 1px;
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -8px;
    top: 50%;
    margin-top: -8px;
}
.ui-datepicker .ui-datepicker-title {
    margin: 0 2.3em;
    line-height: 1.8em;
    text-align: center;
}
.ui-datepicker .ui-datepicker-title select {
    font-size: 1em;
    margin: 1px 0;
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
    width: 49%;
}
.ui-datepicker table {
    width: 100%;
    font-size: .9em;
    border-collapse: collapse;
    margin: 0 0 .4em;
}
.ui-datepicker th {
    padding: .7em .3em;
    text-align: center;
    font-weight: bold;
    border: 0;
}
.ui-datepicker td {
    border: 0;
    padding: 1px;
}
.ui-datepicker td span,
.ui-datepicker td a {
    display: block;
    padding: .2em;
    text-align: right;
    text-decoration: none;
}
.ui-datepicker .ui-datepicker-buttonpane {
    background-image: none;
    margin: .7em 0 0 0;
    padding: 0 .2em;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}
.ui-datepicker .ui-datepicker-buttonpane button {
    float: right;
    margin: .5em .2em .4em;
    cursor: pointer;
    padding: .2em .6em .3em .6em;
    width: auto;
    overflow: visible;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
    float: left;
}

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi {
    width: auto;
}
.ui-datepicker-multi .ui-datepicker-group {
    float: left;
}
.ui-datepicker-multi .ui-datepicker-group table {
    width: 95%;
    margin: 0 auto .4em;
}
.ui-datepicker-multi-2 .ui-datepicker-group {
    width: 50%;
}
.ui-datepicker-multi-3 .ui-datepicker-group {
    width: 33.3%;
}
.ui-datepicker-multi-4 .ui-datepicker-group {
    width: 25%;
}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
    border-left-width: 0;
}
.ui-datepicker-multi .ui-datepicker-buttonpane {
    clear: left;
}
.ui-datepicker-row-break {
    clear: both;
    width: 100%;
    font-size: 0;
}

/* RTL support */
.ui-datepicker-rtl {
    direction: rtl;
}
.ui-datepicker-rtl .ui-datepicker-prev {
    right: 2px;
    left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next {
    left: 2px;
    right: auto;
}
.ui-datepicker-rtl .ui-datepicker-prev:hover {
    right: 1px;
    left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next:hover {
    left: 1px;
    right: auto;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane {
    clear: right;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button {
    float: left;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,
.ui-datepicker-rtl .ui-datepicker-group {
    float: right;
}
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
    border-right-width: 0;
    border-left-width: 1px;
}

.ui-datepicker{
    background-color:#FFF;
    border:2px solid #DDD;
    box-shadow:0 10px 20px rgba(0,0,0,0.2);
}
.ui-datepicker td, .ui-datepicker th{
    text-align:center;
    border:1px solid #DDD;
    width:14.285714285714285714285714285714%;

}
.ui-datepicker-current-day,.ui-datepicker-current-day a{
    background-color:#0082C4;
    color:#FFF;
}
.ui-datepicker-today, .ui-datepicker-today a{
    background-color:#31CD73;
    font-weight:bold;
    color:#FFF;
}
.ui-datepicker-prev:before{
    font-family: 'Glyphicons Halflings';
    content: "\e079";
    font-size:90%;
}
.ui-datepicker-prev{
    text-align:right;
}
.ui-datepicker-next:after{
    font-family: 'Glyphicons Halflings';
    content: "\e080";
    font-size:90%;
}
.datepicker{
    background:transparent url(../images/cal.png) no-repeat 100% 50% scroll;
}

.loader{
    position:relative;
    cursor:wait;
}
body.loader{
    overflow:hidden;
    height:100%;
}
.loader:before{
    content:'';
    position:absolute;
    z-index:9999;
    left:0;
    top:0;
    bottom:0;
    right:0;
    background:#000 url(../images/ajax-loader.gif) no-repeat 50% 50px scroll;
    opacity:0.7;
    cursor:wait;
}
.input-prefix, .input-suffix{
    display:block;
    font-size:13px;
    line-height:1.5em;
    margin:0.2em 0;
}

.fileinput {
    /*margin-bottom: 9px;*/
    margin-right:30px;
    display: block;
}
.logo-upload{
    margin-top:7px;
}
.btn-file {
    overflow: hidden;
    position: relative;
}
.fileinput-exists .fileinput-new, .fileinput-new .fileinput-exists {
    display: none;
}
.btn-file > input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    font-size: 23px;
    direction: ltr;
    cursor: pointer;
    width: 100%;
}

.qa-image-select{
    border:2px solid #CCC;
    padding:2px;
    display:block;
    width:100%;
}
.qa-image-select.selected{      
    border:4px solid #58D68D;
}
input[type=text].input-trans{
    background-color:transparent;
    padding:3px;
    margin:-3px -3px -3px 0;
    font-size:inherit;
    border:none;
    line-height:inherit;
    color:inherit;
    font-weight:inherit;
    display:inline-block;
}
input[type=text].input-trans:hover,input[type=text].input-trans:focus{
    background-color:#F2F2F2;
    background-color:rgba(128,128,128,0.1);
}

input[type=text].input-trans.input-trans-inverted:hover,
input[type=text].input-trans.input-trans-inverted:focus{
    background-color:#444;
    background-color:rgba(0,0,0,0.5);
}
.form-trans{
    display:inline-block;
    margin:-3px;
    line-height:1.4em;
}
.form-trans input[type=text].input-trans{
    margin:0;
}
@media (max-width: 1199px){
    .sidebar-fix{
        width: 208px;
    }
}
@media (max-width: 1199px) and (min-width: 992px){
    .btn-xs-block{
        display: block;
        text-align: center;
        margin-bottom: 10px;
        float: none !important;
    }
}
@media (max-width: 991px){
    .sidebar-fix{
        width:auto;
        position: static;
    }
    .sidebar{
        padding-right: 15px;
    }
}
.loader-wt{
    position:relative;
}
.loader-wt:before{
    content:'';
    position:absolute;
    z-index:999;
    left:0;
    top:0;
    bottom:0;
    right:0;
    background:#fff no-repeat 50% 50px scroll;
    opacity:0.7;
    cursor: default;
}
.cross-tag-bar{
    height: 353px;
    overflow: auto;
}
.alert-fixed-cont{
    position: fixed;
    top: 10px;
    left:20px;
    right:20px;
    z-index: 999;
    padding:  0;
}
@media (min-width: 768px){
    .alert-fixed-cont{
        padding: 0 15px;
    }
    .alert-fixed-cont{
        width:750px;
        left:50%;
        margin-left:-375px;
    }
}
@media (min-width: 992px){
    .alert-fixed-cont{
        padding: 0 15px 0 25px;
    }
    .alert-fixed{
        float: right;
    }
    .alert-fixed-cont{
        width:970px;
        left:50%;
        margin-left:-485px;
    }
}
@media (min-width: 1200px){
    .alert-fixed-cont{
        width:800px;
        margin-left:-420px;
        margin-top: 15px;
    }
}

.question-filter-div{
    margin-bottom: 10px;
}
.row-condensed{
    margin-left: -7px;
    margin-right:-7px;
}
.row-condensed [class*='col-']{
    padding-left: 7px;
    padding-right: 7px;
}
.hide-content{
    display: none;
}

.table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
}
.table-responsive > .table {
    margin-bottom: 0;
}
.table-responsive > .table > thead > tr > th,
.table-responsive > .table > tbody > tr > th,
.table-responsive > .table > tfoot > tr > th,
.table-responsive > .table > thead > tr > td,
.table-responsive > .table > tbody > tr > td,
.table-responsive > .table > tfoot > tr > td {
    white-space: nowrap;
}
.table-responsive > .table-bordered {
    border: 0;
}
.table-responsive > .table-bordered > thead > tr > th:first-child,
.table-responsive > .table-bordered > tbody > tr > th:first-child,
.table-responsive > .table-bordered > tfoot > tr > th:first-child,
.table-responsive > .table-bordered > thead > tr > td:first-child,
.table-responsive > .table-bordered > tbody > tr > td:first-child,
.table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0;
}
.table-responsive > .table-bordered > thead > tr > th:last-child,
.table-responsive > .table-bordered > tbody > tr > th:last-child,
.table-responsive > .table-bordered > tfoot > tr > th:last-child,
.table-responsive > .table-bordered > thead > tr > td:last-child,
.table-responsive > .table-bordered > tbody > tr > td:last-child,
.table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0;
}
.table-responsive > .table-bordered > tbody > tr:last-child > th,
.table-responsive > .table-bordered > tfoot > tr:last-child > th,
.table-responsive > .table-bordered > tbody > tr:last-child > td,
.table-responsive > .table-bordered > tfoot > tr:last-child > td {
    border-bottom: 0;
}

.qa-error {
    color: rgb(255, 0, 0);
}

.cursor-pointer{
    cursor: pointer;
}
.link-color{
    color:#0082C4; 
}
.page-no{
    margin-top:3px;
}

.word-wrap{
    word-wrap: break-word !important;
}
.page-hint-text{
    font-style: italic;
    font-size: 19px;
    margin-top: -10px;
    padding-bottom: 10px;
}
.qa-branding .qa-logo{
    text-align: center;
}

span.plus{display: inline-block; border-radius:2px; -webkit-border-radius:2px;background: #f4f4f4;
cursor: default;
background: #ffffff;
background: -moz-linear-gradient(top,  #ffffff 0%, #e1e5e0 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e1e5e0));
background: -webkit-linear-gradient(top,  #ffffff 0%,#e1e5e0 100%);
background: -o-linear-gradient(top,  #ffffff 0%,#e1e5e0 100%);
background: -ms-linear-gradient(top,  #ffffff 0%,#e1e5e0 100%);
background: linear-gradient(to bottom,  #ffffff 0%,#e1e5e0 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e1e5e0',GradientType=0 );
color:#000;
border:1px solid #999;
line-height: 8px;
margin: 0 10px;
padding: 5px 8px;}

.even span{background: rgba(136, 191, 232, 0.2) none repeat scroll 0 0;}
.odd span{background: rgb(255, 254, 225) none repeat scroll 0 0;}

#messageElementSuccess > ul li {
    list-style: outside none none;
}
.option-selector div.radio-class, .option-selector div.checkbox-class {
    height: 100%;
    position: absolute;
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content:center;
    top: 0px;
}
.option-selector div.radio-class input, .option-selector div.checkbox-class input {
    width:16px;
    height:16px;
    margin-top: 0px;
   
    align-self:auto;
    -webkit-align-self:auto;
}
.radio-class , .checkbox-class {
    margin-bottom: 3px;
    cursor: pointer;
}
.radio-class input, .checkbox-class input {
    width:16px;
    height:16px;
    position: relative;
    top: 0px;
    margin-top: 2px;
    vertical-align: middle;
    cursor: pointer;
}
.radio-class label, .checkbox-class label {
    cursor: pointer;
    margin-left: 5px;
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 2px;
}
.disabled label {
    color: #bdc3c7;
}
.radio-class input, .checkbox-class input {
    margin: 10px 10px 0 0;
    float: left;
}
.radio-class label, .checkbox-class label{
    display: block;
    overflow: hidden;
}
.radio-class, .checkbox-class {
    *zoom: 1;
}
.radio-class:before,
.radio-class:after
.checkbox-class:before,
.checkbox-class:after {
    display: table;
    line-height: 0;
    content: "";
}
.radio-class:after , .checkbox-class:after {
    clear: both;
}
.matrix-wrap .radio-class input, .matrix-wrap .checkbox-class input {
    margin-right: 0px !important;
}
.modal .radio-class input, .modal .checkbox-class input {
    margin-top:2px;
}
.modal .radio-class label, .modal .checkbox-class label {
    padding-top:3px;
}
/*.table-responsive { overflow-x: hidden !important;}*/
@media (max-width: 767px) {
    .table-responsive { overflow-x: auto !important;}
}

.initial-hide{
    display: none;
}

/**For Field work report, start**/
.text-center {
    text-align: center;
}

.fieldwork-progress {
    float: none !important;
    margin: 5px;
    border-radius: 0px;
    background: #BFC2C5;
}

.fieldwork-progressbar .progress-bar {
    background-color: #ff4952;
}

.fieldwork-progressbar div.tooltip-inner {
    width: 120px;
}

.fieldwork-total:hover {
    color: #fff;
    background-color: #0082c4;
    border-color: #0082c4;
    cursor: default;
}

.text-center {
    text-align: center;
}
/**For Field work report, end**/

.option-selector .radio-class input, .option-selector .checkbox-class input{
    float:none;
}

.option-selector{
    height: 100%;
}

.option-selector .radio-class,
.option-selector .checkbox-class{
    float:none;
    width:100%;
    height:100%;
}
.option-selector .radio-class .cell-class-inner,
.option-selector .checkbox-class .cell-class-inner{
    display:table-cell;
    vertical-align:middle;
    text-align:center;
}
.table-responsive .table{
    width:99.99%;
}

.radio-table {
    display: table;
    width: 100%;
    height: 100%;
}

.severity-circle {
    width: 15px;
    height: 15px;
    display: block;
    border-radius: 50%;
    margin-left: 20px;
}

.severity-red {
    background-color: #e74c3c;
}

.severity-yellow {
    background-color: #f1c40f;
}

.severity-blue{
    background-color: #2f4154;
}

.severity-green {
    background-color: #27ae60;
}

.severity-orange {
    background-color: #f39c12;
}

.severity-gray {
    background-color: #95a5a6;
}

.severity-half {
    background-color: #e74c3c;
    background-image: linear-gradient(180deg, #27ae60 50%, transparent 50%);
}

.color-gray {
    color: #95a5a6;
}

.files {
    word-break: break-word;
}

.dropdown-menu {
    min-width: 180px;
}

textarea {
    resize: none;
    resize: vertical;
}

.margin-left-5 {
    margin-left:5px;
}

.margin-right-5 {
    margin-right:5px;
}

.progress-bar-text {
    font-size: 14px;
}

.progress-bar-indicator {
    float: none !important;
    background: #BFC2C5;
    margin-top: 5px;
}

.selectIconDropdown {
    height: 42px !important;
}

.customError {
    border: 1px solid #e74c3c !important;
}