<h2 style="text-align: center; margin-bottom: 10px; margin-top: 30%">Hold Tight!</h2>
<p style="text-align: center; font-size: 16px">
	We are pushing some cool new features and will be back soon.
</p>