.callout-danger{
    padding: 15px 30px 15px 25px;
    color: #fff !important;
}
.callout-danger label.error{
    color: #fff;
}
input.error, select.error{
    border:1px solid #e74c3c;
}
.loginValidation {
    /*margin: 0 210px;*/
    text-align: center
}
#messageBox, #modalMessageBox{
    list-style: none;
}

[data-radio-visiblity], [data-checkbox-visiblity="hide"], [data-select-visiblity="hide"]{
    display: none;
}
.relative{
    position: relative;
}
.loading .spinner, .inline-loading .spinner{
    background: url('../images/cubic_spinner.gif') no-repeat 50% 50% scroll;
    height: 31px;
    width: 31px;
    margin: 7px 0 0 7px;
}
.loading {
    display: none;
    height: 45px;
    left: 50%;
    margin-left: -22px;
    margin-top: -11px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 45px;
    z-index: 9999;
}
.inline-loading {
    display: none;
    height: 45px;
    left: 13%;
    /* margin-left: 86px; */
    margin-top: -4px;
    position: absolute;
    text-align: center;
    top: 0%;
    /* width: 45px; */
    z-index: 9999;
}
.shift_hide{
    position: absolute;
    left: -9999px;
}
.table-scrollable .table-scrollable thead, .table-scrollable tbody, .table-scrollable tr, .table-scrollable td, .table-scrollable th { display: block; }
.table-scrollable tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}
.table-scrollable tbody {
    height: 136px;
    overflow-y: auto;
}
.progress{
    float: right;
    right: 0;
    top: 8px;
    padding-left: 0px;
    padding-right: 0px;
}

.wrap{
    display:block;
    width: 100%;
}
.margin-top-5{ margin-top: 5px; }
.margin-top-10{ margin-top: 10px; }
.margin-top-20{ margin-top: 20px; }
.margin-btm-10{ margin-bottom: 10px; }
.margin-btm-20{ margin-bottom: 20px; }
.mk-block{
    box-shadow: 2px 2px 3px #e9e9e9;
}
.well-margin{
    margin: 20px;
}
.popup-wrapper{
    border:1px solid #ddd;
    padding: 5px;
    background:#fff;
}
.dark-red{
    background-color: #D21F26;
    color: #fff;
}
.light-red{
    background-color: #E49AAC;
}
.dark-green{
    background-color: #23520D;
    color: #fff;
}
.light-green{
    background-color: #BEDDBE;
}
.bold{
    font-weight: bold !important;
}
.italic{
    font-style: italic !important;
}
.help-text{
    padding-top: 10px;
    font-weight: normal;
    font-style: italic;
    font-size: 10px;
}
.full-width-container{
    width: 100%;
}
.table-title{
    padding: 10px;
    font-weight: bold;
}
.margin-center .icons{
    margin-left: 45%;
}
.text-center .img-responsive{
    margin-left:auto;
    margin-right:auto;
}
.option-selector {
    padding: 20px !important;
    position:relative;
    vertical-align:middle !important;
    cursor: pointer;
}
.option-selector div.radio, .option-selector div.checkbox{
    height: 100%;
    position: absolute;
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
}
.option-selector div.radio span, .option-selector div.checkbox span{
    top: 50%;
    margin-top: -10px;
}
.uppercase{
    text-transform:uppercase;    
}
#popup{
    z-index: 1041;
}
.user-info{
    display: inline-block;
    position: relative;
    top: 3px;
}
.user-info .text-info {
    color: crimson;
}
.user-info .tooltip-inner {
    max-width: 330px;
    width: 330px;
    font-size: 12px;
}
.user-info .tooltip {
    margin-top: -5px;
    margin-left: 8px;
}
.line{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 3px solid #eee;
    clear: both;
}
/*.line-blue{
    border-top-color: #428bca;
}*/
.table-auto-width .table{
    width:auto;
}